<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{../css/ingredient.css}" />
        <title>공액리놀레산</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- Header  -->

            <header>
                <div class="top">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img src="../img/black-yagiyo.png" alt=""
                        /></a>
                    </div>

                    <!--      검색어   -->
                    <div class="search_box">
                        <form th:action="@{/search}" method="get">
                            <input type="text" name="query" value="" />
                            <button type="submit"></button>
                        </form>
                        <!-- <p id="recent-search"></p> -->
                    </div>

                    <nav class="gnb_box">
                        <span class="hot">HOT</span>
                        <a th:href="@{/name}">📝AI분석</a>
                        <a href="/board/paging">커뮤니티</a>
                        <a th:href="@{/map}">약국정보</a>
                        <th:bolck
                            class="mypage"
                            th:unless="${session.isEmpty()}"
                        >
                            <a
                                href=""
                                th:href="@{|/mypage/${session.loginMember.memberId}/fix|}"
                                >마이페이지</a
                            >
                        </th:bolck>

                        <div>
                            <th:bolck
                                class="login"
                                th:if="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/login}">로그인</a>
                            </th:bolck>
                            <th:bolck
                                class="logout"
                                th:unless="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/logout}">로그아웃</a>
                            </th:bolck>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <div class="banner">
                    <p>공액리놀레산</p>
                </div>
                <div class="contents">
                    <article>
                        <div class="row row1">
                            <span class="title">💬 공액리놀레산</span>
                            <p>
                                체지방이 쌓이는 것을 막아주고 지방을 에너지로
                                사용하게 만들어, 체지방 감소를 도와줄 수 있어요.
                                <br />
                            </p>
                        </div>
                        <div class="row row2">
                            <span class="title">▪ 이런 이름으로도 불려요</span>
                            <p>CLA</p>
                        </div>
                        <div class="row row3">
                            <span class="title"
                                >▪ 1.4g 이상 섭취하시는 게 가장 좋아요!</span
                            >
                            <p>
                                ✅체지방 감소의 효과를 높이기 위해 지방 합성이
                                활발한 저녁 식후에 드시는 걸 추천해요.<br />
                            </p>
                        </div>
                        <div class="row row4">
                            <span class="title">❗ 부작용 및 주의사항</span>
                            <p>
                                임산부 대상 연구가 부족하므로 전문가와 상담
                                필요<br />
                                위장을 자극할 수 있음<br />
                                수유부 대상 연구가 부족하므로 전문가와 상담 필요
                            </p>
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </body>
</html>
