<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{../css/ingredient.css}" />
        <title>녹차추출물</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="top">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img src="../img/black-yagiyo.png" alt=""
                        /></a>
                    </div>

                    <!--      검색어   -->
                    <div class="search_box">
                        <form th:action="@{/search}" method="get">
                            <input type="text" name="query" value="" />
                            <button type="submit"></button>
                        </form>
                        <!-- <p id="recent-search"></p> -->
                    </div>

                    <nav class="gnb_box">
                        <span class="hot">HOT</span>
                        <a th:href="@{/name}">📝AI분석</a>
                        <a href="/board/paging">커뮤니티</a>
                        <a th:href="@{/map}">약국정보</a>
                        <th:bolck
                            class="mypage"
                            th:unless="${session.isEmpty()}"
                        >
                            <a
                                href=""
                                th:href="@{|/mypage/${session.loginMember.memberId}/fix|}"
                                >마이페이지</a
                            >
                        </th:bolck>

                        <div>
                            <th:bolck
                                class="login"
                                th:if="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/login}">로그인</a>
                            </th:bolck>
                            <th:bolck
                                class="logout"
                                th:unless="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/logout}">로그아웃</a>
                            </th:bolck>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <div class="banner">
                    <p>녹차추출물</p>
                </div>
                <div class="contents">
                    <article>
                        <div class="row row1">
                            <span class="title">💬 녹차추출물</span>
                            <p>
                                · 녹차에 풍부한 '카테킨'은 체내 지방 대사를
                                활발하게 하여, 체지방 감소를 도와줘요.<br />
                                · 콜레스테롤 흡수를 방해해, 혈중 콜레스레롤
                                수치를 개선하는데 도움을 줄 수 있어요.<br />
                                · 항산화력이 높아, 노화를 촉진하는 '활성산소'를
                                없애줄 수 있어요.
                            </p>
                        </div>
                        <div class="row row2">
                            <span class="title">▪ 이런 이름으로도 불려요</span>
                            <p>카테킨</p>
                        </div>
                        <div class="row row3">
                            <span class="title"
                                >▪ 카테킨으로 표준화되어 있는지
                                확인해보세요</span
                            >
                            <p>
                                ✅건강기능식품으로 인정받은 녹차추출물은 주요
                                지표물질로 카테킨이 20% 이상 들어있어요.<br />
                                ✅식물추출물 영양제는 식물이 자라는 환경이나
                                제조사의 기술 수준에 따라서 실제로 건강에 도움이
                                되는 성분 함량이 달라질 수 있어요.<br />
                            </p>
                        </div>
                        <div class="row row4">
                            <span class="title">❗ 부작용 및 주의사항</span>
                            <p>
                                임산부 대상 연구가 부족하므로 전문가와 상담
                                필요<br />수유부 대상 연구가 부족하므로 전문가와
                                상담 필요<br />
                                간 질환이 있는 경우 전문가와 상담 필요<br />
                                카페인이 함유되어 있을 수 있으므로 민감한 경우
                                주의<br />
                                간 기능이 저하될 수 있음<br />
                                카페인이 혈액을 만드는 영양성분의 흡수를 방해해
                                빈혈을 악화시킬 수 있음<br />
                                카페인으로 인해 불안 증상을 악화시킬 수 있으므로
                                주의<br />
                                카페인으로 인해 발작 위험이 높아질 수 있으므로
                                섭취 주의<br />
                                카페인으로 인해 안압이 높아질 수 있으므로
                                주의<br />
                                고용량 섭취시 설사를 유발할 수 있으므로 주의<br />
                                카페인으로 인해 칼슘 배설이 증가할 수 있으므로
                                섭취 주의
                            </p>
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </body>
</html>
