<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{../css/ingredient.css}" />
        <title>베타카로틴</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="top">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img src="../img/black-yagiyo.png" alt=""
                        /></a>
                    </div>

                    <!--      검색어   -->
                    <div class="search_box">
                        <form th:action="@{/search}" method="get">
                            <input type="text" name="query" value="" />
                            <button type="submit"></button>
                        </form>
                        <!-- <p id="recent-search"></p> -->
                    </div>

                    <nav class="gnb_box">
                        <span class="hot">HOT</span>
                        <a th:href="@{/name}">📝AI분석</a>
                        <a href="/board/paging">커뮤니티</a>
                        <a th:href="@{/map}">약국정보</a>
                        <th:bolck
                            class="mypage"
                            th:unless="${session.isEmpty()}"
                        >
                            <a
                                href=""
                                th:href="@{|/mypage/${session.loginMember.memberId}/fix|}"
                                >마이페이지</a
                            >
                        </th:bolck>

                        <div>
                            <th:bolck
                                class="login"
                                th:if="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/login}">로그인</a>
                            </th:bolck>
                            <th:bolck
                                class="logout"
                                th:unless="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/logout}">로그아웃</a>
                            </th:bolck>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <div class="banner">
                    <p>베타카로틴</p>
                </div>
                <div class="contents">
                    <article>
                        <div class="row row1">
                            <span class="title">💬 베타카로틴</span>
                            <p>
                                · 체내 세포가 건강하게 성장하게 해줘요, 세포의
                                성장과 재생이 활발한 피부와 점막을 건강하게
                                유지하는데 중요해요.<br />
                                · 눈에서 빛을 흡수하는 세포를 만드는데 필요해요.
                            </p>
                        </div>
                        <div class="row row2">
                            <span class="title">▪ 이런 이름으로도 불려요</span>
                            <p>비타민A ㅣ 카로티노이드</p>
                        </div>
                        <div class="row row3">
                            <span class="title"
                                >▪ 평소 자주 먹는 음식을 확인해보고, 부족한만큼
                                영양제로 보충하는 것이 좋아요</span
                            >
                            <p>
                                ✅베타카로틴은 몸에서 비타민A가 필요할 때 모양이
                                바뀌면서 사용돼요.<br />
                                ✅ 효율은 낮지만, 그만큼 많이 먹어도 부작용이
                                생길 걱정은 적어요.<br />
                                ✅일반적으로 베타카로틴 섭취량의 약 1/2 정도가
                                비타민A로 전환된다고 볼 수 있어요.<br />
                            </p>
                        </div>
                        <div class="row row4">
                            <span class="title">❗ 부작용 및 주의사항</span>
                            <p>
                                장기간 고용량 복용시 흡연자 폐암 위험이 증가할
                                수 있음
                            </p>
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </body>
</html>
