<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{../css/ingredient.css}" />
        <title>비타민B1</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="top">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img src="../img/black-yagiyo.png" alt=""
                        /></a>
                    </div>

                    <!--      검색어   -->
                    <div class="search_box">
                        <form th:action="@{/search}" method="get">
                            <input type="text" name="query" value="" />
                            <button type="submit"></button>
                        </form>
                        <!-- <p id="recent-search"></p> -->
                    </div>

                    <nav class="gnb_box">
                        <span class="hot">HOT</span>
                        <a th:href="@{/name}">📝AI분석</a>
                        <a href="/board/paging">커뮤니티</a>
                        <a th:href="@{/map}">약국정보</a>
                        <th:bolck
                            class="mypage"
                            th:unless="${session.isEmpty()}"
                        >
                            <a
                                href=""
                                th:href="@{|/mypage/${session.loginMember.memberId}/fix|}"
                                >마이페이지</a
                            >
                        </th:bolck>

                        <div>
                            <th:bolck
                                class="login"
                                th:if="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/login}">로그인</a>
                            </th:bolck>
                            <th:bolck
                                class="logout"
                                th:unless="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/logout}">로그아웃</a>
                            </th:bolck>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <div class="banner">
                    <p>비타민B1</p>
                </div>
                <div class="contents">
                    <article>
                        <div class="row row1">
                            <span class="title">💬 비타민B1</span>
                            <p>
                                · 에너지 생성을 도와 생활에 활력을 더해주는
                                영양소에요. <br />
                                · 근육과 신경이 건강하게 활동하도록 도와줘요.
                            </p>
                        </div>
                        <div class="row row2">
                            <span class="title">▪ 이런 이름으로도 불려요</span>
                            <p>
                                티아민 | 벤포티아민 | 푸르설티아민 |
                                비스벤티아민
                            </p>
                        </div>
                        <div class="row row3">
                            <span class="title"
                                >▪ 최적의 효과를 얻을 수 있도록 나에게 맞는
                                섭취량을 찾는 것이 좋아요</span
                            >
                            <p>
                                ✅식사와 영양제를 모두 포함하여 1.2mg 이상
                                섭취하도록 권장하고 있어요.<br />
                                ✅최적의 효과를 얻기 위해서는 50mg 이상 섭취하는
                                걸 추천해요.<br />
                                수용성 비타민으로 몸에 잘 남아있지 않고 쉽게
                                배출되는 성질을 가지고 있는 편이에요. 고용량
                                섭취했을 때 나타날 수 있는 부작용이 보고된 바가
                                거의 없어 상한섭취량이 정해져 있지 않아요.
                            </p>
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </body>
</html>
