<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{../css/ingredient.css}" />
        <title>아연</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="top">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img src="../img/black-yagiyo.png" alt=""
                        /></a>
                    </div>

                    <!--      검색어   -->
                    <div class="search_box">
                        <form th:action="@{/search}" method="get">
                            <input type="text" name="query" value="" />
                            <button type="submit"></button>
                        </form>
                        <!-- <p id="recent-search"></p> -->
                    </div>

                    <nav class="gnb_box">
                        <span class="hot">HOT</span>
                        <a th:href="@{/name}">📝AI분석</a>
                        <a href="/board/paging">커뮤니티</a>
                        <a th:href="@{/map}">약국정보</a>
                        <th:bolck
                            class="mypage"
                            th:unless="${session.isEmpty()}"
                        >
                            <a
                                href=""
                                th:href="@{|/mypage/${session.loginMember.memberId}/fix|}"
                                >마이페이지</a
                            >
                        </th:bolck>

                        <div>
                            <th:bolck
                                class="login"
                                th:if="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/login}">로그인</a>
                            </th:bolck>
                            <th:bolck
                                class="logout"
                                th:unless="${session.isEmpty()}"
                            >
                                <a href="" th:href="@{/logout}">로그아웃</a>
                            </th:bolck>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <div class="banner">
                    <p>아연</p>
                </div>
                <div class="contents">
                    <article>
                        <div class="row row1">
                            <span class="title">💬 아연</span>
                            <p>
                                · 새롭게 태어나는 세포의 성장을 돕는
                                영양소에요.<br />
                                · 면역 세포의 활성을 조절해 면역력을 높여줘요.
                            </p>
                        </div>
                        <div class="row row2">
                            <span class="title">▪ 이런 이름으로도 불려요</span>
                            <p>징크</p>
                        </div>
                        <div class="row row3">
                            <span class="title"
                                >▪ 8.5mg 이상 섭취하시는 게 가장 좋아요!</span
                            >
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </body>
</html>
