<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{../css/ingredient.css}"/>
    <title>프로바이오틱스유산균</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="top">
            <div class="logo">
                <a th:href="@{/}">
                    <img src="../img/black-yagiyo.png" alt=""
                    /></a>
            </div>

            <!--      검색어   -->
            <div class="search_box">
                <form th:action="@{/search}" method="get">
                    <input type="text" name="query" value=""/>
                    <button type="submit"></button>
                </form>
                <!-- <p id="recent-search"></p> -->
            </div>

            <nav class="gnb_box">
                <span class="hot">HOT</span>
                <a th:href="@{/name}">📝AI분석</a>
                <a href="/board/paging">커뮤니티</a>
                <a th:href="@{/map}">약국정보</a>
                <th:bolck
                        class="mypage"
                        th:unless="${session.isEmpty()}"
                >
                    <a href="" th:href="@{|/mypage/${session.loginMember.memberId}/fix|}">마이페이지</a>
                </th:bolck>

                <div>
                    <th:bolck
                            class="login"
                            th:if="${session.isEmpty()}"
                    >
                        <a href="" th:href="@{/login}">로그인</a>
                    </th:bolck>
                    <th:bolck
                            class="logout"
                            th:unless="${session.isEmpty()}"
                    >
                        <a href="" th:href="@{/logout}">로그아웃</a>
                    </th:bolck>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="banner">
            <p>프로바이오틱스(유산균)</p>
        </div>
        <div class="contents">
            <article>
                <div class="row row1">
                    <span class="title">💬 프로바이오틱스(유산균)</span>
                    <p>
                        우리 몸에 살고 있는 100개가 넘는 균주 중에서 몸에 좋은 균을 유익균(유산균) 또는 프로바이오틱스 라고 해요<br/>
                        건강한 장 환경과 원활한 배변활동을 위해서는 여러 종류의 균들이 균형을 이뤄야해요
                        <br/>
                        반대로 나쁜 영향을 주는 균을 '유해균'이라고 해요
                        <br/>
                        건강한 장 환경과 원활한 배변활동을 위해서는 여러 종류의 균들이 균형을 이뤄야해요
                    </p>
                </div>
                <div class="row row2">
                    <span class="title">▪ 이런 이름으로도 불려요</span>
                    <p>락토바실러스 | 비피도박테리움 | 락토코커스 | 앤테로코커스 | 스트렙토코커스 </p>
                </div>
                <div class="row row3">
                    <span class="title">▪ 제품에서 추천하고 있는 섭취량을 따르고, 내 몸의 반응에 따라 조절하세요.</span>
                    <p>✅사람마다 효과가 나타나는 섭취량이 다를 수 있기 때문에 나에게 맞는 섭취량을 찾는 것이 중요해요.<br>
                        ✅제품에서 추천하는 섭취량을 따르고, 별다른 효과가 없으면 점차 섭취량을 늘려보는 것도 괜찮아요.<br>
                        ✅3개월 정도가 지나도 효과를 느끼지 못한다면 섭취를 중단하거나 다른 균주가 들어있는 제품으로 바꿔보는 것도 좋아요.
                    </p>
                </div>
            </article>
        </div>
    </main>
</div>
</body>
</html>
