<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{../css/ingredient.css}"/>
  <title>히알루론산</title>
</head>
<body>
<div class="wrapper">
  <header>
    <div class="top">
      <div class="logo">
        <a th:href="@{/}">
          <img src="../img/black-yagiyo.png" alt=""
          /></a>
      </div>

      <!--      검색어   -->
      <div class="search_box">
        <form th:action="@{/search}" method="get">
          <input type="text" name="query" value=""/>
          <button type="submit"></button>
        </form>
        <!-- <p id="recent-search"></p> -->
      </div>

      <nav class="gnb_box">
        <span class="hot">HOT</span>
        <a th:href="@{/name}">📝AI분석</a>
        <a href="/board/paging">커뮤니티</a>
        <a th:href="@{/map}">약국정보</a>
        <th:bolck
                class="mypage"
                th:unless="${session.isEmpty()}"
        >
          <a href="" th:href="@{|/mypage/${session.loginMember.memberId}/fix|}">마이페이지</a>
        </th:bolck>

        <div>
          <th:bolck
                  class="login"
                  th:if="${session.isEmpty()}"
          >
            <a href="" th:href="@{/login}">로그인</a>
          </th:bolck>
          <th:bolck
                  class="logout"
                  th:unless="${session.isEmpty()}"
          >
            <a href="" th:href="@{/logout}">로그아웃</a>
          </th:bolck>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="banner">
      <p>히알루론산</p>
    </div>
    <div class="contents">
      <article>
        <div class="row row1">
          <span class="title">💬 히알루론산</span>
          <p>
            · 피부에 수분을 저장하는 역할을 해요.<br>
            · 자외선으로부터 피부를 보호해, 피부건강에 도움을 줄 수 있어요.
          </p>
        </div>
        <div class="row row2">
          <span class="title">▪ 이런 이름으로도 불려요</span>
          <p>소듐히알루로네이트</p>
        </div>
        <div class="row row3">
          <span class="title">▪ 120mg 이상 섭취하시는 게 가장 좋아요!</span>
          <p>수면 중에 피부 재생이 활발해지니 자기 전에 드시는 걸 추천해요.
          </p>
        </div>

      </article>
    </div>
  </main>
</div>
</body>
</html>
