<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/Agree.css" th:href="@{/css/Agree.css}">
    <title>약관동의</title>
  </head>
  <body>
    <div class="wrap">
      <div class="top"></div>
      <div class="main">
        <h3>서비스 이용 약관동의</h3><br>
        <div class="section">
          <h4>< 서비스 이용약관의 목적 및 변경 ></h4><br>
          <li>본 약관은 본 서비스 이용과 관련하여 제공자와 이용자간의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.
          제공자는 필요한 경우 약관을 변경할 수 있으며, 변경된 약관은 제공자의 웹사이트에 공지함으로써 효력을 발생합니다.</li>
          <hr>
          <h4>< 서비스 이용계약 ></h4>
          <br>
          <li>본 서비스는 회원 가입을 하지 않아도 이용 가능합니다.
          제공자는 회원이 가입한 경우에는 본 약관에 동의한 것으로 간주합니다.</li>
          <hr>
          <h4>< 개인정보 보호 ></h4>
          <br>
          <li>제공자는 이용자의 개인정보 보호를 위하여 최선의 노력을 다합니다.
          제공자는 이용자의 개인정보를 수집, 이용, 제공하는 경우 관련 법령 및 개인정보 처리방침에 따릅니다.</li>
          <hr>
          <h4>< 서비스 이용의 제한 및 중지 ></h4>
          <br>
          <li>제공자는 다음 각 호에 해당하는 경우 서비스 이용을 제한 또는 중지할 수 있습니다.
          서비스용 설비의 유지·보수 등을 위한 정기 또는 임시 점검의 경우
          이용자가 본 약관에 위반하여 서비스 이용을 하는 경우
          이용자가 제공한 정보의 내용이 허위임이 확인된 경우</li>
          <hr>
          <h4>< 책임제한 및 배제 ></h4>
          <br>
          <li>제공자는 이용자의 귀책사유로 인한 서비스 이용의 장애, 제한, 중지 등에 대하여 책임을 지지 않습니다.
          제공자는 이용자의 서비스 이용과 관련하여 발생한 문제에 대하여 책임을 지지 않습니다.</li>
          <hr>
          <h4>분쟁의 조정 및 기타</h4>
          <br>
          <li>본 약관과 관련하여 분쟁이 발생한 경우, 양 당사자는 성실히 협의하여 해결하도록 합니다.
          본 약관은 대한민국 법령에 의하여 규정되고 이행됩니다.</li>
      </div>
        <br>
        <button class="btn" onclick="closeWindow()">약관동의</button>
      </div>
      <div class="bottom"></div>
    </div>
    <script>
		function closeWindow() {
			window.close();
		}
	</script>
  </body>
</html>
