<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="../../static/css/find.css"
        th:href="@{/css/find.css}"
    />
    <title>아이디 찾기</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo"><a th:href="@{/}"><img th:src="@{../img/black-yagiyo.png}"></a></div>

        <form class="content" action="#" th:action="@{/findId}" th:method="post" th:object="${findIdForm}">
            <input type="hidden" th:field="*{id}">
            <div th:if="${message}" th:text="${message}"></div>
            <div class="email">
                <label for="email"></label>
                <input type="email" id="email" name="email" th:field="*{email}" placeholder="이메일을 입력해주세요">
            </div>
            <div th:if="${findIdForm.id}">
                <label for="id"></label>
                <span class="findId" th:text="${findIdForm.id == null or findIdForm.id == '' ? 'Retry' : findIdForm.id}"></span>
            </div>
            <div class="btn"><button type="submit">아이디 찾기</button></div>
            <div class="text-box">
                <span class="idfind"><a th:href="@{/login}">로그인</a></span>
                <span class="pwfind"><a th:href="@{/findPW}">비밀번호찾기</a></span>
                <span class="signup"><a th:href="@{/members/add}">회원가입</a></span>
            </div>
        </form>
    </div>
</body>
</html>
