<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pageTitle}">약</title>
  <link rel="stylesheet" href="" th:href="@{/css/Analysis.css}">
  <link rel="stylesheet" href="" th:href="@{/css/closeModal.css}">
  <style>
    /*질문글자 크기, 색깔*/
.question-section em {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #999;
}
/*질문 라인*/
p {
  display: block;
  padding-left: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.question-answer-wrap {
  padding: 28px 0;
}
/*체크박스 안보이기*/
input[type='checkbox'] {
  display: none;
}
/*라벨 레이아웃*/
.question-answer-wrap {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 90px);
  margin-left: 25px;
  gap: 25px 25px;
}
/*라벨 크기, 색, 글자색, 그림자*/
.category {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  width: 75px;
  height: 75px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px 0px;
}
#section {
  display: block;
}
  </style>
</head>
<body>
<div id="survey">
  <div class="survey-wrap">
    <div class="survey-contents">
      <div class="survey-contents-inner">
        <!-- HTML code for the modal -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>분석을 종료하시겠습니까?</p>
            <button id="yes-btn">Yes</button>
            <button id="no-btn">No</button>
          </div>
        </div>
        <a href="#" class="close-survey" onclick="openModal(); return false;">
          <img th:src="@{/img/close2.png}" alt="close" />
        </a>
        <div class="survey-test">
          <nav class="survey-test-header">
            <ul class="step-list-wrap">
              <li data="기본정보">
                <span>기본정보</span>
              </li>
              <img src="/img/right2.png" />
              <li data="증상/불편" class="on">
                <span>증상/불편</span>
              </li>
              <img src="/img/right2.png" />
              <li data="생활습관">
                <span>생활습관</span>
              </li>
              <img src="/img/right2.png" />
              <li data="기타">
                <span>기타</span>
              </li>
            </ul>
          </nav>
          <div class="survey-progress">
            <div id="survey-progress-rate" style="width: 62.5%"></div>
          </div>
          <div class="survey-question-contens">
            <section class="question-section">
              <em id="qNum">질문 5</em>
              <h2 id="qTitle" maxallowed="1" class>
                <p>어떤 제형을 선호하시나요?</p>
                <span class></span>
              </h2>
              <p id="qContent"></p>
              <ul class="question-answer-wrap">
                <li class="category">
                  <label class="label-checkbox label-question">
                    <input
                        id="num1"
                        type="checkbox"
                        value="capsule"
                        class="input-checkbox input-answer"
                        name="answer"
                        data-only="null"
                    />
                    <img src="/img/캡슐.png" alt="" />
                    <span>캡슐</span>
                  </label>
                </li>
                <li class="category">
                  <label class="label-checkbox label-question">
                    <input
                        id="num2"
                        type="checkbox"
                        value="tablet"
                        class="input-checkbox input-answer"
                        name="answer"
                        data-only="null"
                    />
                    <img src="/img/정제.png" alt="" />
                    <span>정</span>
                  </label>
                </li>
                <li class="category">
                  <label class="label-checkbox label-question">
                    <input
                        id="num3"
                        type="checkbox"
                        value="powder"
                        class="input-checkbox input-answer"
                        name="answer"
                        data-only="null"
                    />
                    <img src="/img/가루.png" alt="" />
                    <span>가루</span>
                  </label>
                </li>
                <li class="category">
                  <label class="label-checkbox label-question">
                    <input
                        id="num4"
                        type="checkbox"
                        value="jelly"
                        class="input-checkbox input-answer"
                        name="answer"
                        data-only="null"
                    />
                    <img src="/img/액상.png" alt="" />
                    <span>액상</span>
                  </label>
                </li>
                <li class="category">
                  <label class="label-checkbox label-question">
                    <input
                        id="num5"
                        type="checkbox"
                        value="chewball"
                        class="input-checkbox input-answer"
                        name="answer"
                        data-only="null"
                    />
                    <img src="/img/츄어볼.png" alt="" />
                    <span>츄어볼</span>
                  </label>
                </li>
              </ul>
            </section>
          </div>
          <div class="survey-errormsg"></div>
          <div class="survey-question-footer">
            <button
                id="btn-prev"
                class="btn btn-radius"
                onclick="window.location.href='http://localhost:9080/illness'"
            >
              이전
            </button>
            <button
                id="btn-next"
                class="btn btn-radius btn-dark"
                onclick="handleNextClick('{{gender}}', '{{name}}', '{{age}}', '{{illness}}')"
            >
              다음
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{../js/closeModal.js}"></script>
<script>
       //카테고리 색상
      const categories = document.querySelectorAll('.category');
      categories.forEach(category => {
        const checkbox = category.querySelector('input[type="checkbox"]');
        checkbox.addEventListener('click', () => {
          if (checkbox.checked) {
            category.style.border = '2px solid #ff5c35';
          } else {
            category.style.border = 'none';
          }
        });
      });

      //에러메시지
      function handleNextClick(defaultGender, defaultName, defaultAge, defaultIllness) {
        // check if at least one checkbox is selected
        const checkboxes = document.getElementsByName('answer');
        let isChecked = false;
        let selectedAnswers = [];
         for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          isChecked = true;
          selectedAnswers.push(checkboxes[i].value); // Add the value of the selected checkbox to the array
        }
      }
        // display error message if no checkbox is selected
        if (!isChecked) {
          const errorMsg = document.querySelector('.survey-errormsg');
          errorMsg.innerText = '답변을 입력해주세요.';
          return;
        }

        // continue to the next question
         let urlParams = new URLSearchParams(window.location.search);
          let name = urlParams.get('name') || defaultName;
          let gender = urlParams.get('gender') || defaultGender;
          let age = urlParams.get('age') || defaultAge;
          let illness = urlParams.get('illness') || defaultIllness;
          let inputValue = selectedAnswers.join(',');


          let resultURL =
            'http://localhost:9080/point?name=' +
            encodeURIComponent(name) +
            '&gender=' +
            encodeURIComponent(gender) +
            '&age=' +
            encodeURIComponent(age) +
            '&illness=' +
            encodeURIComponent(illness) +
            '&dosage=' +
            encodeURIComponent(inputValue);
          window.location.href = resultURL;

        }

        </script>
</body>
</html>