@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-family: "pretendard", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes titleMotion {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1; /* keep opacity at 100% */
        transform: translateY(0);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes bounce-effect {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(-7px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
}

body {
    width: 100%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: 0;
    border-bottom: 1px solid #eee;
}
.top {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고이미지 */
.logo {
    margin-top: 15px;
}
.top .logo > a img {
    width: 150px;
}

/* 검색 */
.top .search_box {
    display: flex;
    height: 30px;
}
.search_box form {
    display: inline-block;
    position: relative;
    width: 553px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #067dfd;
    box-sizing: border-box;
    vertical-align: top;
}
.search_box input {
    width: 400px;
    height: 20px;
    outline: transparent;
    border: 0;
    margin: 12px 17px 17px 17px;
    padding-left: 5px;
}
.search_box button {
    left: 510px;
    bottom: 8px;
    right: 0px;
    background-color: inherit;
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    background-image: url(../img/search.png);
    background-size: cover;
}

/* 탑메뉴 */
.gnb_box {
    display: flex;
    position: relative;
    font-weight: 600;
    height: 30px;
    margin-top: 20px;
}
.gnb_box span {
    position: absolute;
    color: #ff5c35;
    font-size: 10px;
    top: -7px;
    left: 74px;
}
.gnb_box > .mypage a{
    display:block;
    position: relative;
    margin-left: 40px;
    height:30px;
}
.gnb_box > .mypage a::before {
 padding-top: 5px;
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    background-color: #000;
    transition: width 0.25s ease;

}

.gnb_box > .mypage a:hover::before {
    width: 65px;
}

.gnb_box > a {
    position: relative;
    margin-left: 40px;
}
.gnb_box .login,
.logout {
    margin-left: 40px;
}

.gnb_box .login a::before {
    padding-top: 5px;
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    background-color: #000;
    transition: width 0.25s ease;
}
.gnb_box .login a:hover::before {
    width: 40px;
}
.gnb_box .logout a::before {
    padding-top: 5px;
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    background-color: #000;
    transition: width 0.25s ease;
}
.gnb_box .logout a:hover::before {
    width: 55px;
}
.gnb_box > a::before {
    padding-top: 5px;
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 0.25s ease;
}

.gnb_box > a:hover::before {
    width: 100%;
}

.save_box {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    margin-top: 250px;
    border-top: 1px solid #000;
}
.save_box h3 {
    position: absolute;
    top: -45px;
}
.row {
    display: flex;
    align-items: center;
    padding: 30px 0px 30px 0px;
    position: relative;
    width: 1280px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.row input {
      padding-left: 10px;
      width: 1189px;
      height: 50px;
      position: absolute;
      left: 69px;
}
.row1 input {
    border: none;
}
.row1 input::focus {
    border: none;
}
.row textarea {
    margin-left: 166px;
}
.row5 input {
    font-size: 15px;
    width: 500px;
    height: 100px;
    line-height: 100px;
}

#preview{
    position: relative;
    left: 1040px;
    top: -930px;
    display: block;
    z-index: 1;

}
#textarea{
    margin-left: 10px;
    display: block;
}

#imagePreview {
  width: 200px;
  height: 200px;
}

.bottom_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit {
    margin: 50px;
    text-align: center;
}
.submit input {
    font-size: 15px;
    width: 250px;
    height: 50px;
    background-color: #999;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.submit input:hover{
background-color: #5b1a7c;
}

.board_paging {
    font-size: 15px;
    width: 250px;
    height: 50px;
    background-color: #999;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 50px;
}

.board_paging:hover{
background-color: #5b1a7c;
}

.board_paging a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
footer {
    width: 100%;
    background-color: #2d3142;
}

.footer_area {
    width: 1280px;
    color: #999;
    margin: 0 auto;
}

/* footer top */

.footer_area .top {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

/* 푸터 로고 이미지 */
.footer_img {
    width: 150px;
    display: flex;
    margin: 10px;
}
.footer_menu {
    display: flex;
    margin-top: 20px;
}
.footer_menu a {
    display: flex;
    padding-left: 10px;
}

.footer_area .bottom {
}

.footer_area .bottom .info {
    width: 1280px;
    text-align: left;
}
.bottom .info .title {
    font-size: 20px;
}

/* copyright */
.footer_area .copyright {
    margin-left: 20px;
}

/* .footer_area .copyright::before {
  width: 100%;
  position: absolute;
  height: 1px;
  content: '';
  background-color: #bbbbbb;
} */
.footer_area .copyright p {
    width: 100%;
    text-align: left;
}
