@charset "UTF-8";

/* 질문외부 규격 */
.question-answer-wrap {
  padding: 28px 0;
}
.input-full {
  width: 100%;
}
.input-small {
  padding: 0 25px;
  height: 50px;
}
/* input cm&kg */
.question-answer-wrap .question-input-field .unit {
  position: absolute;
  display: block;
  z-index: 9;
  right: 20px;
  top: 16px;
  color: #999;
}
/*cm&kg 위치*/
.question-answer-wrap li:first-child {
  margin-top: 0;
}
.question-answer-wrap .question-input-field {
  position: relative;
}
/*input 글자크기, 배경색*/
.input-text {
  font-size: 16px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  outline: 0;
  background-color: #fff;
  box-sizing: border-box;
}