@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: 'pretendard', sans-serif;
}

body {
  width: 100%;
 background-color:#f7f7f7;

}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}
.logo{
margin:0 auto;
width:200px;
}
.logo > a img{
width:200px;
height:100%;
margin-top:200px;
}
.content{
text-align:center;
margin:0 auto;
}

.content .email{
width:100%;
text-align:center;
margin:0 auto;
margin-bottom: 20px;
}
.content .email > input{
border-radius:10px;
width:340px;
height:50px;
padding-left:5px;
}

.findId{
border-radius:10px;
outline: 2px solid black;
padding-left: 147px;
padding-right: 147px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 30px;
}

.content .id{
width:100%;
text-align:center;
margin:0 auto;
}

.content .id > input{
border-radius:10px;
width:340px;
height:50px;
padding-left:5px;
margin-top: 10px;
}


.btn button{
background-color:#5b1a7c;
border-radius:10px;
 border: none;
 cursor: pointer;
margin-top:30px;
width: 350px;
height: 50px;
color:#fff;
font-size:20px;
}


.text-box{
margin-top:10px;
}
.pwfind::after{
content:"|";
padding:3px;
}
.idfind::after{
content:"|";
padding:3px;
}