@charset "UTF-8";
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  border-radius: 15px;
}

.modal-btn-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cancel-btn {
  background-color: #e6e6e6;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  background-color: #ff6347;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}