@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: 'pretendard', sans-serif;
  outline: none;
}
input{
     border: 1px solid #ccc;

}
body {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;

}
.btmline {
  border-bottom: 1px solid #dfe2e6;
}
.logo {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.logo a img {
  width: 200px;
  height: 100%;
}

.main {
position:relative;
width:1280px;
margin:50px auto 100px auto;
display:flex;
justify-content:center;
}
.area_contents{
position:relative;
}
.container .title{
display:flex;
justify-content:center;
font-size:30px;
}
.idArea{
position:relative;
margin:20px 0px 20px 0px;
}

.idArea input {
  width: 500px;
  height: 40px;
  padding-left:10px;
}


.positive{
font-size:30px;
position:absolute;
margin:-45px 0px 0px 480px;
}
.positive_code{
    font-size: 30px;
    top: 81px;
    position: absolute;
    color: green;
    margin-left: 300px;
    left: 222px;
}

.pwArea{
margin:20px 0px 20px 0px;
}
.pwArea input {
  width: 500px;
  height: 40px;
  padding-left:10px;
}
.nickArea input{
  width: 500px;
  height: 40px;
  padding-left:10px;
}
.emailArea{
margin-top: 20px;
position:relative;
}
#codeBtn{
    font-weight:800;
    display:none;
    background-color: #ffffff;
    border: 1px solid #0169ff;
    top: 413px;
    left: 902px;
    position: absolute;
    width: 100px;
    height: 40px;
    cursor:pointer;

}
#emailError{
    margin-top:-20px;
    }
.emailArea div input{
  width: 250px;
  height: 40px;
  padding-left:10px;
}
.emailArea .dropdown{
  width: 250px;
  height: 40px;
  }
.form-group{
margin-top:20px;
position: relative;
}
#memail{
    position: absolute;
    bottom: 10px;
    left: 40px;
}
#memailconfirm{
             display: none;
             border: 2px solid #007bff;
             width: 226px;
             height: 40px;
             margin-left: 269px
}
#mailError{
    margin-left: 300px;
}

.genderArea{
margin-top: 40px;
}
.genderArea .select_m{
    appearance: none;
    -webkit-appearance: none;
    width: 255px;
    height: 50px;
    outline: none;

}
.genderArea .select_m:checked{
        border: 2px solid #007bff;
        font-weight: 700;
        color: #f27935;
}
.genderArea .select_w{
     appearance: none;
     -webkit-appearance: none;
     width: 255px;
     height: 50px;
 }
 .genderArea .select_w:checked{
         border: 2px solid #007bff;
         font-weight: 700;
  }
  .genderArea form{
  position:relative;
  }
  .genderArea form label{
  position:absolute;
  }
  .genderArea .m {
  display: inline-block;
      position: absolute;
  left:110px;
  line-height:50px;
    }
  .genderArea .f {
  display: inline-block;
      position: absolute;
    left:370px;
    line-height:50px;
   }


.ageArea{
margin-top:20px;
}
.ageArea input{
width:250px;
height:50px;
}
.date-selectors select{
text-align:center;
width:165px;
height:50px;
}
.check_term{
text-align:center;
margin-top:20px;
height:100px;
font-size:20px;
}
.check_term div{
display:flex;
justify-content:center;
margin-top:10px;
}
.check_term div input{
width:25px;
}

.join_btn{
margin-top:20px;
text-align:center;
}
.join_btn button{
  background-color: #5b1a7c;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
width:500px;
height:60px;
}
